.App {
  font-family: sans-serif;
  text-align: center;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.output {
  display: block;
  max-width: 10%;
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 2px solid red;
}
